.container{
    display:flex;
    padding: 30px 0;
}
.container img{
    width: 250px;
  border-radius: 15px;
  background: white;
  border: dashed gray;
  padding: 20px;
}
.information{
    background-color: white;
    margin-left: 32px;
    padding: 25px;
    border-radius: 15px;
}

.title{
    color: #fe5d42;
  font-size: 1.5rem;
}
.description{
    text-align: left;
  line-height: 30px;
  color: #5d5d5d;
}
.category{
    display: flex;
  padding: 10px;
  color: #fe5d42;
}
.category span{
    color: black;
    margin-left: 5px;
    font-size: 0.9rem;
    font-weight: 500;
}
.action{
    display:flex;
    justify-content: space-between;
}
.link a{
    background: #fe5d42;
    color: white;
    text-decoration: none;
    padding: 9px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 9px;
    font-size: 0.9rem;
    font-weight: 500;
    width: 115px;
}
.price{
    color: #fe5d42;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}
.price span{
    color: black;
    margin-left: 5px;
    font-size: 0.9rem;
    font-weight: 500;
}