body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1100px;
  font-family:Inter;
  background: #efefef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
